.ui.container {
  margin-bottom: 65px;
}

#header { 
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  background-image: url('/dw-title.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  @media only screen and (max-width: 605px) {
    min-height: 100px;
  }
}
#footer { 
  position: fixed;
  bottom: 0;
  z-index: 100;
  margin: 0;
  right: 0;
  background-color: #fff;
}
