<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!-- <link rel="manifest" href="manifest.json"> -->
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <title>nichtohneuns.de | Zeitung bestellen</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div class="ui container">
      <div class="ui center aligned basic segment" id="header"></div>
      
      <div class="ui big top attached header segment" style="margin-top: 30px">
        <i class="newspaper outline icon"></i>
        <div class="content">
          Zeitungen bestellen
          <div class="sub header">Wochenzeitung »Demokratischer Widerstand«</div>
        </div>
      </div>
      <div class="ui <%- messageType %> bottom attached icon message">
        <i class="<%- messageIcon %>"></i>
        <div class="content">
          <div class="header"><%- messageTitle %></div>
          <%- message %>
        </div>
      </div>

      <div class="ui center aligned menu" id="footer">
        <div class="right menu">
          <a href="https://www.nichtohneuns.de/impressum/" target="_blank" class="item">Impressum</a>
          <a href="https://www.nichtohneuns.de/datenschutz/" target="_blank" class="item">Datenschutz</a>
        </div>
      </div>
    </div>
  </body>
</html>